.body {
  padding: 0 8px;
}
.top-bar,
.tool-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-bar {
  margin-top: 16px;
  margin-bottom: 16px;
}
.top-bar-search {
  margin: 0;
}
.top-bar {
  position: relative;
}
.tool-bar__more {
  position: absolute;
  background-color: white;
  right: 0;
  bottom: 0;
  transform: translateY(110%);
  z-index: 4;
  border-radius: 4px;
  min-width: 96px;
  border: 1px solid #e0e0e0;
  font-size: 14px;
}
.tool-bar__icon {
  color: #03ae66;
  font-size: 17px;
}
.tool-bar__command {
  margin-right: 8px;
}
.tool-bar__more__option {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  cursor: pointer;
}
.tool-bar__more__option:hover .command-delete {
  background-color: #e0e0e0;
  border-radius: 50%;
}
.tool-bar__more__option:hover .command__icon-delete {
  color: #fa3939;
}
