.menu {
  background-color: #24344b;
  width: 220px;
  height: 100vh;
  padding: 8px 0;
  color: white;
  grid-row-start: 1;
  grid-row-end: 3;
}

.user__avatar {
  width: 40px;
  height: 40px;
  background-color: rgb(26, 112, 141);
  border-radius: 4px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  font-size: 20px;
}

.menu__logo {
  width: 28px;
  margin-right: 12px;
}

.menu__top {
  margin: 0 7px 8px 7px;
  font-size: 15px;
}

.menu__top,
.menu__user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__item {
  background-repeat: no-repeat;
  background-size: 28px;
  display: flex;
  height: 44px;
  background-position-x: 8px;
  background-position-y: center;
  align-items: center;
  padding-left: 47px;
  color: #cccccc;
  cursor: pointer;
}

.menu__item:not(:first-child) {
  margin-top: 0px;
}

.menu__item.active {
  background-color: #404f64;
  border-left: 3px solid orange;
  background-position-x: 3px;
  padding-left: 44px;
  color: orange;
}

.menu__item:hover {
  background-color: #404f64;
}