.button {
  padding-left: 12px;
  padding-right: 12px;
  margin: 0 0 0 8px;
  height: 32px;
  min-width: 96px;
  font-size: 13px;
  font-family: "OpenSans-Semibold";
}
.button-style5 {
  margin: 0 0 0 8px;
}
.button-style1 {
  background-color: #03ae66;
  color: white;
  border-radius: 4px;
  border: none;
}
.button-style1:hover,
.button-style3:hover {
  background-color: #02bf70;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}
.button-style1:disabled,
.button-style3:disabled {
  background-color: #e0e0e0;
  color: #a6a6a6;
  border-radius: 4px;
  cursor: not-allowed;
}
.button-style2 {
  background-color: #ffffff;
  color: #3d3f4e;
  border-radius: 4px;
  border: 1px solid #cecece;
}
.button-style2:hover {
  background-color: #eaecef;
  color: #3d3f4e;
  border: 1px solid #cecece;
  border-radius: 4px;
  cursor: pointer;
}
.button-style2:disabled {
  background-color: #ffffff;
  color: #a6a6a6;
  border: 1px solid #cecece;
  border-radius: 4px;
  cursor: not-allowed;
}
.button-style3 .button__icon-wrapper {
  width: 32px;
  height: 32px;
  background-color: #009253;
  border-radius: 0 4px 4px 0;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-style3 {
  background-color: #03ae66;
  color: white;
  border-radius: 4px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 0;
}

.button-style3:hover .button__icon-wrapper {
  background-color: #05a25e;
  color: #ffffff;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}
.button-style3:disabled .button__icon-wrapper {
  background-color: #d6d3d3;
  color: #a6a6a6;
  border-radius: 0 4px 4px 0;
  cursor: not-allowed;
}
.button-style4 {
  background-color: #ffffff;
  color: #03ae66;
  border-radius: 4px;
  border: 1px solid #0fa655;
}
.button-icon {
  background-size: 25px;
  background-repeat: no-repeat;
  background-position-x: 6px;
  background-position-y: center;

  padding-left: 35px;
}
.button-style4:hover {
  background-color: #03ae66;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}
.button-style4:disabled {
  background-color: #e0e0e0;
  color: #a6a6a6;
  border-radius: 4px;
  cursor: not-allowed;
  border: none;
}
.button-style5 {
  background: #ffffff;
  color: #3d3f4e;
  border: 1px solid #cecece;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}
.button-style5:hover {
  background-color: #f8f8f8;
  cursor: pointer;
}
.button-style5:disabled {
  background-color: #ffffff;
  color: #a6a6a6;
}
