.toast-message {
  padding: 18px;
  display: none;
  border: 1px solid #cccccc;
  min-width: 300px;
  border-radius: 4px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 18px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
  padding-left: 76px;
  padding-right: 8px;
  position: fixed;
  bottom: 10px;
  right: 5px;
  background-color: white;
}
.toast__close {
  width: 40px;
  height: 40px;
  margin-left: 40px;
}

.toast__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toast__title {
  font-weight: bold;
}
.toast__message {
  font-size: 13px;
}
.toast--success {
  border-left: 5px solid #03ae66;
}
.toast--fail {
  border-left: 5px solid #fa3939;
}
.toast--warning {
  border-left: 5px solid #f9b914;
}
