.tab1 {
  width: 500px;
  height: 300px;
  border: 1px solid #cccccc;
}
.tab-nav {
  display: flex;
  align-items: center;
  justify-content: start;
}
.tab-nav__item {
  padding: 0 28px;
  height: 40px;
  color: #848484;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.tab-nav__item.active {
  color: #03ae66;
  font-weight: bold;
  border-top: 2px solid #03ae66;
  background-color: white;
}
.tab-content {
  padding: 16px;
}
.tab-content__title {
  margin-bottom: 16px;
}
